.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.brandName {
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .container {
    display: none;
  }
}
