.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 40px;
  background: #ffffff;
  flex: 0.5;
  padding: 0 40px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 20px;
}

.subtitle {
  margin: 0;
  font-weight: 300;
}

.loguOutButton {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  border-radius: 6px;
  height: 40px;
  padding: 0 16px;
  border: none;
  outline: none;
  width: 100%;
  margin: 32px 0 0 0;
}

.loguOutButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .container {
    border-top-left-radius: 40px;
    flex: 1;
  }
}
