.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 40px;
  background: #ffffff;
  max-width: 600px;
  width: 100%;
  padding: 0 40px;
}

.title {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 20px;
}

.subtitle {
  margin: 0;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: unset;
    border-top-left-radius: 40px;
  }
}
